<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>
<% if (messages.error) { %>
<p style="color:red;padding-left: 35%""><%- messages.error %></p>
<% } %>
<% if (messages.success) { %>
<p style="color:green;padding-left: 35%""><%- messages.success %></p>
<% } %>


<div class="data-table">
    <table cellspacing="0" cellpadding="0">
        <div style="padding-left:5%;padding-bottom: 3%;padding-top: 2%;width: 100%;">
            <form method="post" action="/users/search">
                <input type="text" placeholder="Search by Name.." name="name_search" style="width: 71%; border-radius: 25px;">
                <button type="submit" class="a-inside edit" style=" border-radius: 25px;">Search</button>
            </form>

        </div>



        <tr style='text-align:left; background-color:#CCC'>
            <th>Id</th>
            <th>Name</th>
            <th>Device</th>
            <th>Action</th>
        </tr>

        <!--
            Using FOREACH LOOP for the users array

            myArray.forEach(function(el, index) {
                // el - current element, i - index
            });
        -->
        <% if (data) { %>
        <% data.forEach(function(user){ %>
        <tr>
            <td><%= user._id %></td>
            <td><%= user.name %></td>
            <td><%= user.device %></td>
            <td>
                <div style="float:left">
                    <form method="post" action="/users/delete/<%= user._id %>" style="float:right">
                        <input type="submit" name="delete" value='Delete'
                               onClick="return confirm('Are you sure you want to delete?')"/>
                        <input type="hidden" name="_method" value="DELETE"/>
                    </form>
                </div>
            </td>
        </tr>
        <% }) %>
        <% } %>

    </table>
</div>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
